{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" style="background-color: #fff;">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-4 order-lg-last">
                            <img class="img-fluid" src="{% static 'vanraagweb/assets/img/nOLA.png' %}" alt="">
                        </div>
                        <div class="col-lg-8 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Nola</b> Migrain Serum <br/> (The Natural vibes)</h1>
                                <h3 class="h2">Best of nature best of science</h3>
                                <p>
                                    <!-- Add description here -->
                                    <b></b>
                                    This oil is special for migraine of women and headech pain of gents. Apply at night
                                    in scalp and massage for 10 miniutes. It's very effective in sleepless adjective of
                                    all age person. Everyday massage directly on to scalp for 10 minutes.
                                    Run few drops through length of hair, add bit on hair end.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-4 col-lg-4 order-lg-last">
                            <img class="img-fluid" src="{% static 'vanraagweb/assets/img/herbal-hair-oil.png' %}" alt="">
                        </div>
                        <div class="col-lg-8 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success"><b>Nola</b> Herbal Hair Oil <br/>(The Natural vibes)</h1>
                                <h3 class="h2">Best of nature best of science</h3>
                                <p>
                                    Hair oil is special for dandruff, Hair fall and Monpose. It will help to make hair long and black.
                                    It is very effetive in skin desease and infections in scalp. There is no age bar to use 
                                    and no side effect. It will help to grow you hair stronger naturally.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-4 col-lg-4 order-lg-last">
                            <img class="img-fluid" src="{% static 'vanraagweb/assets/img/nola-noni.png' %}" alt="">
                        </div>
                        <div class="col-lg-8 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success"><b>Nola</b> Noni Juice <br/>(The Natural vibes)</h1>
                                <h3 class="h2">Best of nature best of science</h3>
                                <p>
                                    <strong>Noni Juice</strong> help to improve the body's self healing mechanism. It also improve digestion and 
                                    the quality of blood in the body. It acts as a food for the cells.
                                    Relieves constipation and improve digestion. Reduce inflammation and maiantain healthy skin and hair.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->
    <!-- Start Categories of The Month -->
    <!-- <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Categories of The Month</h1>
                <p>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="./assets/img/category_img_01.jpg" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Hygiene Products</h5>
                <p class="text-center"><a class="btn btn-success">Explore More</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="./assets/img/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Hair Serum</h2>
                <p class="text-center"><a class="btn btn-success">Explore More</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="./assets/img/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Skin Care Products</h2>
                <p class="text-center"><a class="btn btn-success">Explore More</a></p>
            </div>
        </div>
    </section> -->
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Featured Product</h1>
                    <p>
                        We are planning to launch this products soon. These are availbe in market and you can take benefits. 
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="{% static 'vanraagweb/assets/img/0-herbs-toothpaste.png' %}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <!-- <li class="text-muted text-right">₹79.00</li> -->
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">20 HERBS TOOTHPASTE</a>
                            <p class="card-text">
                                
                            </p>
                            <p class="text-muted">Reviews (24)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="{% static 'vanraagweb/assets/img/hair-removal-foam.png' %}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <!-- <li class="text-muted text-right">₹350.00</li> -->
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">HAIR REMOVAL FOAM</a>
                            <p class="card-text">
                                
                            </p>
                            <p class="text-muted">Reviews (48)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="{% static 'vanraagweb/assets/img/seabuckethron-juice.png' %}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                </li>
                                <!-- <li class="text-muted text-right">₹120.00</li> -->
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">SEABUCKETHRON JUICE</a>
                            <p class="card-text">
                                
                            </p>
                            <p class="text-muted">Reviews (74)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Product -->
{% endblock %}
